<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button contentId="content"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
    <div class="ion-text-center">
        <img src="assets/icon/event.png"/>
        <h3></h3>
    </div>
    
    <!-- Animated Searchbar -->
    <ion-searchbar animated></ion-searchbar>

    <ion-card *ngFor="let todo of todos" class="welcome-card" (click)="goEventos()">
      <img src="{{todo?.url}}" alt="" />
      <ion-card-header>
        
        <ion-card-title>{{todo?.titulo}}</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{todo.descricao}}</p>
        <b>{{todo.data}}</b><br>
        <ion-button color="primary">Detalhes</ion-button>  
      </ion-card-content>
      
    </ion-card>
    
</ion-content>
